@import url("menu.css");
@import url("footer.css");

html, body{
  height:100%;
  min-height: 320px;
  min-width: 320px;
  margin: 0;

}
body {
  font-family: 'Open Sans', Verdana, Helvetica, sans-serif;
}
h1, h2, h3, h4, h5 {
  font-weight: bold;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
}
#content{
  margin: 0 auto;
  max-width: 1000px;
}
p{
  line-height: 1.8;
}

#overview{
  display: block;
  height: 100%;
  max-width: 1000px;
  margin: 0 auto;

}
#overviewInner{
  display: block;
  margin: 0 auto;
  height: 100%;
}
#logo{
  height: 30%;
  max-width: 100%;
}

#logo svg{
  height: 100%;
}

#catchPhrases{
  max-width: 100%;
  height: 70%;
  opacity: 0;
  -webkit-animation:fadeIn 2s 2s forwards;
  animation: fadeIn 2s 2s forwards;
  overflow: hidden;
}
#catchPhrases img{
  position: relative;
  height: 100%;
  width: 100%; /* width changes a small bit to hide the shadows with @media further below*/
}

@media screen and (max-aspect-ratio: 1/1){
  #logo{
    height: 40%;
  }
  #catchPhrases{
    height: 60%;
  }
}

#Pfeil{
    display: block;
    position: absolute;
    bottom: 2px;
    left: 0;
    right:0;
    margin: 0 auto;
    height: 25px;
}

/*---------- About part ------------*/
#About{
  max-width: 800px;
  padding: 10px 50px;
  margin-top: 40px;
  margin-bottom: 80px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 40px;
  background-color: white;
  background-image: url("../img/Schraffur/Rauschen.png");
  box-shadow: 0 0 100px #FFEDDA inset, 0 0 1px 6px #006c35;

}
.Linen{
  background-color: #BA3434;
  background-image: url("../img/Schraffur/Linen.png");
}
.Striped{
  border-radius: 40px;
  background-color: #80b3ff;
  background-image: url("../img/Schraffur/Stripes.png");
  background-size: 50px;
  box-shadow: 2px 2px 8px 5px rgba(0, 0,0, 0.3) inset;
}
@media screen and (max-width: 850px){
  #About{
    padding: 10px 30px;
    border-radius: 0;
    border-left: none;
    border-right: none;
  }

}
.AboutNarrow{
  margin-left: auto;
  margin-right: auto;

}
#About p{
  text-indent: 1.5em;
}
#About a{
  color: black;
  text-decoration: none;
}
.moreAbout{
  display: block;
  float: left;
  width: 40%;
  min-width: 400px;
  background: lightblue;
  border-radius: 20px;
  padding: 20px;
  margin: 10px;
}

.AboutRechts{
  position: relative;
  left: 50%;
  -webkit-transform: rotateY(-2deg); /* Safari */
  transform: rotateY(-2deg);
  width: 300px;
}
.twoCols div{
  width: 300px;
  display:inline;
}
.withColumns{
  max-width: 1000px;
  -webkit-column-count: 2; /* Chrome, Safari, Opera */
  -moz-column-count: 2; /* Firefox */
  column-count: 2;
  -webkit-column-width: 100px; /* Chrome, Safari, Opera */
  -moz-column-width: 100px; /* Firefox */
  column-width: 100px;
}

#About h3{
  text-align: center;
}

#moreAbout{
  display:block;
}
#showMoreAbout{
  display: block;
  outline:none;
  cursor:pointer;
  color: blue;
  text-decoration: underline;
}
#showMoreAbout:before{
  content: "\f103";
  font-family: FontAwesome;
  padding-right: 0.3em;
  text-decoration: none;
  color: black;
}
#showMoreAbout:focus + #moreAbout{
  display: block;
}

/*----------- Angebote  --------*/

#Angebote{
  margin: 0 auto;
  overflow: hidden;
}

.Angebot{
  display: block;
  margin: 50px auto 50px auto;
  padding-bottom: 50px;
  clear: both;
  overflow: auto;
}
.AngebotText{
  display: inline-block;
  max-width: 500px;
}
.AngebotText p{
  line-height: 1.8;
}
.AngebotText p, .AngebotText h1, .AngebotText h2{
  padding-left: 20px;
  padding-right: 20px;
}

.AngebotBild{
  width: 500px;
  min-width: 200px;
  margin: 0 auto;
  padding: 0 10px 20px 10px;
}
@media screen and (min-width: 1000px){
  .Angebot:nth-of-type(odd) .AngebotBild{
    float: left;
  }
  .Angebot:nth-of-type(even) .AngebotBild{
    float: right;
  }
}
@media screen and (max-width: 1000px){
  #Angebote{
    width: 500px;
  }
}


@media screen and (max-width: 500px){
  #Angebote{
    width: 100%;
  }
  .AngebotBild{
    width: 100%;
  }
  .AngebotText{
    max-width: 100%;
    padding-top: 0;

  }
  .AngebotText h1 {
    margin-top: 0;
  }
  /* put the catchphrase shadow out of the frame (fit to just the bubbles) */
  #catchPhrases img{
    width: 112%;
    position: relative;
    left: -6%;
  }

}


.testbild{
    max-width: 100%;
    width: auto;
}

/* The animation code */
@-webkit-keyframes comeInLeft {
    from {transform: translateX(-100px);}
    to {transform: tranlateX(0px);}
}
@keyframes comeInLeft {
    from {transform: translateX(-100px);}
    to {transform: tranlateX(0px);}
}
.comeInLeft{
  -webkit-animation: comeInLeft 1.2s ease-out;
  animation: comeInLeft 1.2s ease-out;
}
@-webkit-keyframes comeInRight {
    from {transform: translateX(100px);}
    to {transform: tranlateX(0px);}
}
@keyframes comeInRight {
    from {transform: translateX(100px);}
    to {transform: tranlateX(0px);}
}
.comeInRight{
  -webkit-animation-name: comeInRight 1.2s ease-out;
  animation-name: comeInRight 1.2s ease-out;
}

@-webkit-keyframes fadeIn {
  from{opacity: 0;}
  to{opacity: 1;}
}

@keyframes fadeIn{
  from{opacity: 0;}
  to{opacity: 1;}
}

/* svg animation */


/* fade in Schriftzug */
#rect8773{
  opacity:0;
  -webkit-animation: LogofadeIn 1.5s linear forwards;
  animation: LogofadeIn 1.5s linear forwards;
}
@-webkit-keyframes LogofadeIn {
  to{opacity:0.76599995;}
}
@keyframes LogofadeIn{
  to{opacity:0.76599995;}
}

/* draw paths: */
#path8771, #path8769, #path8767, #path8765{
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  stroke-linecap: round;
  -webkit-animation: dash 4s ease 1.2s forwards;
  animation: dash 4s ease 1.2s forwards;

}
@-webkit-keyframes dash{
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

/* Schriftzug */
#flowRoot8789{
  opacity: 0;
  -webkit-animation: LogofadeIn 1.2s linear 1.2s forwards;
  animation: LogofadeIn 1.2s linear 1.2s forwards;
}



.ZwischenHeader{
  font-size: 36pt;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
}

hr{
  border-color: #ccc;
  display: block;
  width: 60%;
  margin-top: 70px;
  margin-bottom: 70px;
  clear: both;

}

.R{
  display: inline-block;
  width: 1.5em;
  font-weight: bold;
  background-image: url(../img/Rlogo.svg);
  background-size: 1.5em auto;
  background-repeat: no-repeat;
  background-position: 50% 30%;
}

/* hardware pictures carousel */

.hardwareItem{
  height: 470px;
}
.hardwareItem img{
  height: auto;
  width: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}
.hardwareItem p{
  font-weight: bold;
  text-align: center;
  font-size: 16pt;
}

.carousel-indicators li {
    background-color: #fff;
    border-color: #000;
}
.carousel-indicators .active{
  background-color: #000;
}


/* -> mehr Infos Buttons */

.mehr{
  display: none;
  float: right;
}
.mehr a{
  text-decoration: none;
  margin-right: 2em;
  margin-left: 1em;
  padding-right: 0.6em;
  position: relative;
  color: white;
  top: 0.7em;

  border-radius: 1em;
  padding-left: 0.25em;
  background-color: #3771C8;
}

.mehr a:before{
  content: "\f0a9";
  font-family: FontAwesome;
  padding-right: 0.3em;
  color: white;
  font-size: 108%;
  text-decoration: none;
  text-align: bottom;
}

/* Kontakt-Buttons */
#Kontakt {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}
#Kontakt p{
  text-indent: 0;
}
#Kontakt a{
  display: inline-block;
  margin-bottom: 1em;
  text-decoration: none;
  margin-right: 0.5em;
  margin-left: 0.5em;
  padding: 0.2em;
  padding-right: 0.9em;
  padding-left: 0.9em;
  color: white;
  text-indent: 0;
  border-radius: 1em;

  background-color: #3771C8;
}
#Kontakt i{
  margin-right: 0.4em;
  font-size: 150%;
  vertical-align: text-bottom;
}
